{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block content %}
    <main>
        <h2>Liste des classes :</h2>
        <ul>
            {% for class in classes %}
                <li>{{ class.name }}</li>
            {% endfor %}
        </ul>
        <h2>Nouvelle classe :</h2>
        {{ form(classForm) }}
    </main>
{% endblock %}
