{% extends 'base.html.twig' %}

{% block title %}Matières{% endblock %}

{% block content %}
    <main>
        <h3>Liste des matières :</h3>
        <ul>
            {% for course in courses %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ul>
        <h3>Nouvelle matière :</h3>
        {{ form(courseForm) }}
        <form>
            <div class="form-group row">
                <label for="group" class="col col-form-label">Groupe :</label>
                <div class="col">
                    <input id="group" class="form-control" type="text"/>
                </div>
            </div>
        </form>
        <a href="{{ path('teachers') }}">Créer un enseignant</a>
    </main>
{% endblock %}
