<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Connexion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <form>
            <div class="form-group row">
                <label for="login_field" class="col col-form-label">Login :</label>
                <div class="col">
                    <input id="login_field" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="password_field" class="col col-form-label">Mot de passe :</label>
                <div class="col">
                    <input id="password_field" class="form-control" type="password"/>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Connexion"/>
        </form>
    </body>
</html>
