{% extends 'base.html.twig' %}

{% block title %}
    Cr&eacute;er &eacute;tudiant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <form>
        <fieldset>
            <legend>Cr&eacute;er un &eacute;l&egrave;ve</legend>
            <div class="form-group row">
                <label for="firstname" class="col col-form-label">Pr&eacute;nom :</label>
                <div class="col">
                    <input id="firstname" class="form-control" type="text"/>
                </div>
                <label for="lastname" class="col col-form-label">Nom :</label>
                <div class="col">
                    <input id="lastname" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="birthdate" class="col col-form-label">Date de naissance :</label>
                <div class="col">
                    <input id="birthdate" class="form-control" type="date"/>
                </div>
                <label for="birthplace" class="col col-form-label">Lieu de naissance :</label>
                <div class="col">
                    <input id="birthplace" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="father_name" class="col col-form-label">Nom du p&egrave;re :</label>
                <div class="col">
                    <input id="father_name" class="form-control" type="text"/>
                </div>
                <label for="mother_name" class="col col-form-label">Nom de la m&egrave;re :</label>
                <div class="col">
                    <input id="mother_name" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="parents_phone" class="col col-form-label">T&eacute;l&eacute;phone parents :</label>
                <div class="col">
                    <input id="parents_phone" class="form-control" type="text"/>
                </div>
                <label for="address" class="col col-form-label">Adresse :</label>
                <div class="col">
                    <input id="address" class="form-control" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="parents_phone" class="col col-form-label">Genre :</label>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender">M
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender">F
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="parents_phone" class="col col-form-label">Statut :</label>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="status">Passant
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="status">Redoublant
                    </label>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Valider"/>
        </fieldset>
    </form>
</body>
{% endblock %}
