{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block content %}
    <main>
        <h2>Liste des étudiants :</h2>
        <ul>
            {% for student in students %}
                <li>{{ student.firstName }} {{ student.lastName }}</li>
            {% endfor %}
        </ul>
        <h2>Nouvel élève</h2>
        {{ form(studentForm) }}
        <form>
            <fieldset>
                <legend>Ancien formulaire :</legend>
                <div class="form-group row">
                    <label for="parents_phone" class="col col-form-label">Téléphone parents :</label>
                    <div class="col">
                        <input id="parents_phone" class="form-control" type="text"/>
                    </div>
                    <label for="address" class="col col-form-label">Adresse :</label>
                    <div class="col">
                        <input id="address" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="parents_phone" class="col col-form-label">Genre :</label>
                    <div class="form-check-inline col">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender">M
                        </label>
                    </div>
                    <div class="form-check-inline col">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender">F
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="parents_phone" class="col col-form-label">Statut :</label>
                    <div class="form-check-inline col">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status">Passant
                        </label>
                    </div>
                    <div class="form-check-inline col">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="status">Redoublant
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Valider"/>
            </fieldset>
        </form>
    </main>
{% endblock %}
