{% extends 'base.html.twig' %}

{% block title %}Années scolaires{% endblock %}

{% block content %}
    <h2>Liste des années scolaires :</h2>
    <ul>
        {% for year in years %}
            <li>{{ year.value }}</li>
        {% endfor %}
    </ul>
    <h2>Nouvelle année scolaire :</h2>
    {{ form(yearForm) }}
{% endblock %}
