{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle année scolaire
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_title %}
    Années scolaires
{% endblock %}

{% block content %}
    <h3>Liste des années scolaires :</h3>
    <ul>
        {% for year in years %}
            <li>{{ year.value }}</li>
        {% endfor %}
    </ul>
    <h3>Nouvelle année scolaire :</h3>
    {{ form(yearForm) }}
{% endblock %}
