{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle ann&eacute;e scolaire
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_title %}
    Ann&eacute;es scolaires
{% endblock %}

{% block content %}
    <main>
        <h3>Liste des ann&eacute;es scolaires :</h3>
        <ul>
            {% for year in years %}
                <li>{{ year.value }}</li>
            {% endfor %}
        </ul>
        <h3>Nouvelle ann&eacute;e scolaire :</h3>
        {{ form(yearForm) }}
        <a href="{{ path('classes') }}">Cr&eacute;er une classe</a>
    </main>
{% endblock %}
